# General:
pandas
numpy

# For checking style and correctness of code
mypy
pylint
javalang

# For plots:
plotly
matplotlib

# For GumTreeDiff:
jsontree
asttokens

# For solution graph test system
PTable